.inputContainer {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-radius: 25px;
    padding: 10px;
    background: linear-gradient(45deg, white, lightgray, gray);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15)
}

input {
    padding:10px
}