.inputContainer {
    border: 1px solid gray;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-radius: 25px;
    padding: 10px;
    background: linear-gradient(45deg, white, lightgray, rgb(147, 147, 147));
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3)
}

input {
    padding:10px
}