.inputContainer {
    border: 1px solid gray;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-radius: 25px;
    padding: 10px;
    background: linear-gradient(45deg, white, lightgray, rgb(147, 147, 147));
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3)
}

input {
    padding:10px
}

.previewImg {
    height: 70px;
    width: auto;
}

.outputContainer .loader span {
  display: inline-block;
  animation: jumpingLetters 1.2s ease-in-out infinite;
  animation-delay: calc(var(--letter) * 0.1s);
  background: linear-gradient(45deg, #ff9a8b, #ff6a88, #ff99ac);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


@keyframes jumpingLetters {
  0%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(5px);
  }
}

.resultContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin-bottom: 30px;
}

.resultContainer > div {
  flex: 1;
  padding: 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)
}